body{
    background-color: #d8e5f9da !important;
    /* background-color: rgba(243, 215, 164, 0.463); */


}


.fusion-navbar{
    background-color: rgb(24, 54, 116) !important;
}
.home{
    display: flex;
    margin-top: 8%;
    margin-bottom: 4%;
    position: relative;
}

.home_images{
    display: flex;
    justify-content: space-around;
    transition: 0.8s;
}

#num{
    text-decoration: none !important;
    color: white !important;
}

.home_img{
    width: 30%;
    /* margin-left: 3%; */
}

.btn-secondary{
    width: 30%;
    margin-bottom: 2%;
    transition: 0.8s !important;
}

.btn-secondary:hover{
    transition: 0.8s;
    transform: scale(1.1);
}

.btn-secondary>a{
    transition: 0.8;
    text-decoration: none;
    color: white;
}

.btn-secondary>a:hover{
    transition: 0.8s;
    color: white;
}

.bg-desc{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    width: 50%;
    background-color: #163566;
    opacity: 90%;
    position: absolute;
    z-index: 2;
    color: white;
    top: 68%;
    left: 26%;
}

/* services  */

.services_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dush_cards{
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 4%;
    flex-wrap: wrap;
    margin-left: -4%;
}

.card{
    margin-left: 7%;
    margin-bottom: 4%;
}

#dush-1{
    transition: 0.8s;
}

#dush-1:hover{
    transform: scale(1.1);
    transition: 0.8s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}

.carousel{
    margin-top: 3%;
    margin-bottom: 4%;
}

.carousel-caption{
    background-color: #163566c3;
    border-radius: 30px;
    margin-top: 2%;
}

.carousel-indicators {
margin-bottom: 0 !important;
}

.carousel-caption{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* contacts  */

.contacts{
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-around;
}

.contact{
    transition: 0.8s;
}

.contact:hover{
    transform: scale(1.2);
    transition: 0.8s;
}

footer{
    /* position: absolute;
    bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-height: 10vh;
    background-color: #163566;
    width: 100%;
}